.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333; /* Brand text color */
  }
  
  .navbar-brand img {
    margin-right: 10px; /* Adjust margin between logo and text */
  }
  
  .brand-bold {
    font-weight: bold;
  }
  
  .text-smaller {
    font-size: 14px;
  }
  
  .navbar-nav .nav-link {
    font-size: 16px;
    color: #333;
    position: relative; /* Pozisyonlandırma için gerekli */
    padding-bottom: 8px; /* Çizgi için altta boşluk bırakır */
}

.navbar-nav .nav-link.active::after {
    content: ""; /* İçerik gereklidir ama boş */
    position: absolute; /* Mutlak pozisyonlandırma */
    bottom: -20px; /* Navbar'ın hemen altında çizgi */
    left: 0; /* Çizginin başlangıç noktası */
    right: 0; /* Çizginin bitiş noktası */
    height: 3px; /* Çizginin kalınlığı */
    background-color: #007bff; /* Mavi çizgi rengi */
    width: 100%; /* Tam genişlik */
}

  
 