<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">
        <div class="d-flex align-items-center">
          <img src="assets/img/hacettepe_logo_2.png" alt="Hacettepe University Logo" style="height: 60px;">
          <div class="header-text ms-3">
            <div class="brand-bold text-center">Hacettepe University</div>
            <hr class="my-1">
            <div class="text-smaller">Plant Evolution Research Laboratory</div>
          </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="publications">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="collaborations">Collaborations</a>
          </li>
          <li class="nav-item">
            <!-- Login button with custom class -->
            <a class="nav-link btn login-button" href="login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  