    
    <h4 mat-dialog-title> Create New Publication</h4>
    <mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Publication Title</mat-label>
        <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Jornal Name</mat-label>
            <input matInput formControlName="journalName">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Published date</mat-label>
            <input matInput formControlName="publishedYear" [matDatepicker]="publishedyearpicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="publishedyearpicker"></mat-datepicker-toggle>
            <mat-datepicker #publishedyearpicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Issn</mat-label>
            <input matInput formControlName="issn">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Doi</mat-label>
            <input matInput formControlName="doi">
        </mat-form-field>
        
        <div mat-dialog-actions class="action-buttons">
        <button mat-button (click)="close()">Close</button>
        <button mat-button color="primary" type="submit">Add</button>
        </div>
    </form>
    </mat-dialog-content>
