<section class="hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h1 class="hero-title">Akademik Yolculuğunuza Hazır Mısınız?</h1>
          <p class="hero-subtitle">En iyi eğitim deneyimini yaşamak için bize katılın.</p>
          <a href="#" class="btn btn-primary">Başla</a>
        </div>
        <div class="col-lg-6">
          <img src="assets/img/image_1.jpg" alt="Akademik Hero Görseli" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  