<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true"  >
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="manage-team">Team</a>  <!-- Router Link kullanarak yönlendirme -->
        <a mat-list-item href="manage-publications">Publications</a>  <!-- Router Link kullanarak yönlendirme -->
        <a mat-list-item href="manage-projects">Projects</a>  <!-- Router Link kullanarak yönlendirme -->
        <a mat-list-item href="manage-collaborations">Collaborations</a>  <!-- Router Link kullanarak yönlendirme -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  