/* Tüm ekranı kaplayan ana konteyner stilini sağlar */
.sidenav-container {
  height: 100vh;  /* Viewport'un tamamını kaplar */
  display: flex;
  flex-direction: row;  /* Yatay yönlendirme */
  overflow: hidden;  /* Taşma engelleme */
}

mat-sidenav-container {
  display: flex;
  flex: 1;  /* Esnek alan kaplama */
  height: 100vh;  /* Tam ekran yüksekliği */
  width: 100vw;  /* Tam ekran genişliği */
}

mat-sidenav {
  width: 200px;  /* Sabit genişlik */
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
}

mat-sidenav-content {
  flex: 1;  /* Geri kalan tüm alanı kaplar */
  height: 100%;  /* Ebeveyn yüksekliğini alır */
  overflow: auto;  /* İçerik fazla olduğunda kaydırma */
}
