<mat-card style="width: 100%">
    <mat-card-header>
      <div class="header-container" style="display: flex; justify-content: space-between; align-items: center;">
        <h4 style="margin-right: 1.25rem">Collaborations</h4>
        <div class="addSearchHolder">
            <button mat-flat-button color="primary">Primary</button>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort class="transparent-table">
        <ng-container matColumnDef="collaborationName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.collaborationName }}</td>
        </ng-container>
        <ng-container matColumnDef="collaborationWebSiteLink">
          <th mat-header-cell *matHeaderCellDef>Web Site</th>
          <td mat-cell *matCellDef="let element">
            <a href="{{element.collaborationWebSiteLink}}" target="_blank">{{element.collaborationWebSiteLink}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef>Operations</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" aria-label="Düzenle" class="icon-button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Sil" class="icon-button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['collaborationName', 'collaborationWebSiteLink', 'operations']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['collaborationName', 'collaborationWebSiteLink', 'operations']"></tr>
      </table>
    </mat-card-content>
  </mat-card>
