/* styles.css */
.card {
    max-width: 300px;  /* Maksimum genişlik */
    min-width: 200px;  /* Minimum genişlik */
    margin: 10px auto; /* Otomatik marjin ile merkezleme ve dikey marjin */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 160px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .card-img-top {
      height: 140px; /* Küçük ekranlarda resim yüksekliği */
    }
  }
  